//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 25 18:16:29 2025
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

